$size: 5rem;
$rsize: $size * 0.75;
$angle: 68deg;
$r: 50deg;
$color: #936ae4;
$bg: darken($color, 5);

h1 {
  font-weight: 100;
  margin-top: 5rem;
}

@keyframes rotate {
  from {
    transform: rotateX($r) rotateZ(0deg) translateZ(-0.5rem);
  }
  50% {
    transform: rotateX($r) rotateZ(180deg) translateZ(0.5rem);
  }
  to {
    transform: rotateX($r) rotateZ(360deg) translateZ(-0.5rem);
  }
}

.wrapper {
  margin-bottom: 0;
  transform-style: preserve-3d;
  width: $rsize;
  height: $rsize;
  transform-origin: $rsize / 2 $rsize / 2;
  transform: rotateX($r) rotateZ(45deg);
  animation: rotate 4s linear infinite;
  &:hover {
    animation-play-state: paused;
  }
}

.pyramid {
  position: absolute;
  perspective: 500px;
  transform-style: preserve-3d;
  &.inverse {
    transform: translateZ(-$size / 7) rotateY(180deg);
  }
}

.square {
  width: $rsize;
  height: $rsize;
  background: lighten($color, 20);
  transform-style: preserve-3d;
}

.triangle {
  position: absolute;
  width: $size;
  height: $size;
  &:nth-child(1) {
    width: $rsize;
    top: -33%;
    background: lighten($color, 30);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform-origin: 50% 100%;
    transform: rotateX(-$angle);
  }
  &:nth-child(2) {
    width: $rsize;
    background: lighten($color, 30);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    transform-origin: 50% 0%;
    transform: rotateX($angle);
  }
  &:nth-child(3) {
    height: $rsize;
    left: -33%;
    background: lighten($color, 40);
    transform-origin: 100% 50%;
    clip-path: polygon(100% 100%, 0 50%, 100% 0);
    transform: rotateY($angle);
  }
  &:nth-child(4) {
    height: $rsize;
    background: lighten($color, 40);
    transform-origin: 0% 50%;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
    transform: rotateY(-$angle);
  }
}

// Other pens links

.other-pens {
  position: absolute;
  bottom: 1rem;
  strong {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin: auto;
    display: block;
    text-align: center;
  }
  li,
  a,
  strong {
    color: rgba(8, 7, 7, 0.8);
  }
  ul {
    list-style: none;
    padding: 0;
    margin-left: 0.8rem;
  }
  a {
    display: block;
    padding: 0.4rem;
  }
}
